<% content_for :meta_title, "Admin — Lieux" %>
<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>

<h1>Lieux</h1>
<div class="admin_top_bar">
  <%= render "admin/locations/search_input" %>
  <%= link_to new_admin_location_path, class: "btn" do %>
    <i class="material-icons">add_location</i>
    Ajouter un lieu
  <% end %>
</div>

<div class="admin_table_container">
  <table class="admin_table">
    <tr>
      <th class="center">ID</th>
      <th class="pic_cell">Aperçu</th>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Ville</th>
      <th>Pays</th>
      <th class="center">Personnes</th>
      <th class="center">Docs</th>
      <th>Actions</th>
    </tr>
    <% @locations.each do |l| %>
      <tr>
        <td class="center"><%= l.id %></td>
        <td class="pic_cell">
          <% pic = l.illustration.present? ? l.illustration.key : "default_location_pic" %>
          <%= cl_image_tag pic, format: "png", width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %></td>
        </td>
        <td>
          <%= link_to admin_location_path(l.id) do %>
            <%= l.name %>
          <% end %><br>
          <% if l.privacy %>
          <span class="private-content">
            <i class="material-icons">security</i> Privé
          </span>
          <% end %>
        </td>
        <td>
          <%= l.address %>
        </td>
        <td>
          <%= l.city %>
        </td>
        <td>
          <%= l.country %>
        </td>
        <td class="center">
          <%= l.people.count %>
        </td>
        <td class="center">
          <%= l.documents.count %>
        </td>
        <td>
          <%= link_to 'Modifier', edit_admin_location_path(l) %><br>
          <%= link_to 'Voir', admin_location_path(l) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="pagination_row">
  <%= paginate @locations %>
</div>