<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<%= link_to admin_locations_path, class: "back_link" do %>
  <i class="material-icons">arrow_back_ios</i>
  <span>Annuler et revenir à l'index</span>
<% end %>
<div class="flex flex-row justify-between align-baseline">
  <div class="flex flex-row align-baseline">
    <h1><%= @location.name %></h1>
    <%= link_to location_path(@location) do %>
      (voir la fiche)
    <% end %>
  </div>
  <div>
    <%= link_to edit_admin_location_path(@location), class: "btn btn-mini" do %>
      <i class="material-icons">edit_location</i>
      <span>Modifier la fiche</span>
    <% end %>
  </div>
</div>
<div class="person_header admin-show flex flex-row">
  <div class="mr10">
    <% pic = @location.illustration.present? ? @location.illustration.key : "default_location_pic" %>
    <%= cl_image_tag pic, width: "600", height: "600", crop: "fill", gravity: "face", class: "img-300" %>
  </div>
  <div class="person_header_info flex flex-column flex-grow-1">
    <% if @location.privacy %>
      <div>
        <span class="private-content mb10">
          <i class="material-icons">security</i> Privé
        </span>
      </div>
    <% end %>
    <div>
      <label>Adresse</label>
      <p><%= @location.address %></p>
    </div>
    <div class="half">
      <div class="left">
        <label>Ville</label>
        <p><%= @location.city %></p>
      </div>
      <div class="left">
        <label>Code postal</label>
        <p><%= @location.zipcode %></p>
      </div>
    </div>
    <div class="half">
      <div class="left">
        <label>Région</label>
        <p><%= @location.region %></p>
      </div>
      <div class="left">
        <label>Pays</label>
        <p><%= @location.country %></p>
      </div>
    </div>
    <div class="half">
      <div class="left">
        <label>Latitude</label>
        <p><%= @location.latitude %></p>
      </div>
      <div class="left">
        <label>Longitude</label>
        <p><%= @location.longitude %></p>
      </div>
    </div>
    <% unless @location.latitude.nil? || @location.longitude.nil? %>
      <div class="flex justify-center">
        <div class="map" id="map" style="width:425px; height:400px;"></div>
      </div>
    <% end %>
  </div>
</div>
<div class="admin-show">
  <% unless @location.description == "" %>
    <div class="show-section">
      <h3>Description et histoire</h3>
      <p><%= @location.description %></p>
    </div>
  <% end %>

  <div class="show-section">
    <h3><i class="material-icons">text_snippet</i>Documents liés</h3>
    <% unless @location_documents == [] %>
      <div class="admin_table_container">
        <table class="admin_table">
          <tr>
            <th class="center">ID</th>
            <th class="pic_cell">Aperçu</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Référence</th>
            <th>Fonds</th>
            <th>Actions</th>
          </tr>
          <% @location_documents.each do |ld| %>
            <% doc = ld.document %>
            <tr>
              <td class="center">
                <%= doc.id %>
              </td>
              <td class="pic_cell">
                <% file = doc.document_files.first %>
                <%= render "documents/image_mini", file: file %>
              </td>
              <td>
                <%= link_to admin_document_path(doc.id) do %>
                  <%= doc.name %>
                <% end %>
              </td>
              <td>
                <%= doc.date %>
              </td>
              <td>
                <%= doc.reference %>
              </td>
              <td>
                <%= doc.fund.name %>
              </td>
              <td>
                <%= link_to admin_location_document_delete_path(ld, redirection: "location") do %>
                  Supprimer le lien
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    <%= link_to new_admin_location_document_path(from: "location", location_id: @location.id), class: "btn btn-mini" do %>
      <i class="material-icons">note_add</i> Lier un document au lieu
    <% end %>
  </div>
  
  <div class="show-section">
    <h3><i class="material-icons">people</i>Personnes liées</h3>
    <% unless @location_people == [] %>
      <div class="admin_table_container">
        <table class="admin_table">
          <tr>
            <th class="center">ID</th>
            <th class="pic_cell">Aperçu</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Action</th>
          </tr>
          <% @location_people.each do |lp| %>
            <% p = lp.person %>
            <% pic = p.profile_pic.present? ? p.profile_pic.key : "default_profile_pic" %>
            <tr>
              <td class="center">
                <%= p.id %>
              </td>
              <td class="pic_cell">
                <%= cl_image_tag pic, width: "200", height: "200", crop: "fill", gravity: "face", class: "img-100" %>
              </td>
              <td>
                <%= link_to admin_person_path(p.id) do %>
                  <%= p.last_name.upcase %>
                <% end %>
                <% if p.spouse_name.present? %>
                  <br>
                  <span class="spouse_name">épouse <%= p.spouse_name.upcase %></span>
                <% end %>
              </td>
              <td><%= p.first_name %></td>
              <td>
                <%= link_to admin_location_person_delete_path(lp.id, redirection: "location") do %>
                  Supprimer le lien
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    <%= link_to new_admin_location_person_path(from: "location", location_id: @location.id), class: "btn btn-mini" do %>
      <i class="material-icons">person_add</i> Lier une personne au lieu
    <% end %>
  </div>

  <div class="show-section">
    <h3><i class="material-icons">event</i>Évènements liés</h3>
    <% unless @location_events == [] %>
      <div class="admin_table_container">
        <table class="admin_table">
          <tr>
            <th class="center">ID</th>
            <th class="pic_cell">Aperçu</th>
            <th>Nom</th>
            <th class="center">Date de début</th>
            <th class="center">Date de fin</th>
            <th>Action</th>
          </tr>
          <% @location_events.each do |le| %>
            <% event = le.event %>
            <tr>
              <td class="center">
                <%= event.id %>
              </td>
              <td class="pic_cell">
                <% pic = event.illustration.present? ? event.illustration.key : "default_profile_pic" %>
                <%= cl_image_tag pic, width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %>
              </td>
              <td>
                <%= link_to admin_event_path(event.id) do %>
                  <%= event.name %>
                <% end %>
              </td>
              <td class="center"><%= event.date_start %></td>
              <td class="center"><%= event.date_end %></td>
              <td>
                <%= link_to admin_location_event_delete_path(le.id, redirection: "location") do %>
                  Supprimer le lien
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    <%= link_to new_admin_location_event_path(from: "location", location_id: @location.id), class: "btn btn-mini" do %>
      <i class="material-icons">add</i> Lier un évènement au lieu
    <% end %>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script>
  var map = L.map('map').setView([<%= @location.latitude %>, <%= @location.longitude %>], 18);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 20,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoidGhwYXJpZW50ZSIsImEiOiJja3dqZ2wyc2YwejB2Mm9vMG00N3hmZmZkIn0.fQCcO5vyh9hhG3PccTvTnQ'
  }).addTo(map);
  var marker = L.marker([<%= @location.latitude %>, <%= @location.longitude %>]).addTo(map);
</script>