<% content_for :meta_title, "Admin — Modifier " + @event.name %>
<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<%= link_to admin_events_path, class: "back_link" do %>
  <i class="material-icons">arrow_back_ios</i>
  <span>Annuler et revenir à l'index</span>
<% end %>
<h1>Modifier l'évènement</h1>
<%= simple_form_for [:admin, @event] do |f| %>
  <div class="form-half">
    <div class="left">
      <div class="input">
        <label>Photo d'illustration</label>
        <div class="previews">
          <div>
            <%= cl_image_tag @event.illustration.key, class: "preview_image" %>
          </div>
        </div>
        <%= f.file_field :illustration, 
              class: "file_uploader",
              on: {:change => "readURL(this);"} %>
      </div>
    </div>
    <div class="right">
      <%= f.input :name,
                  label: "Nom",
                  as: :string,
                  input_html: { autocomplete: 'off' },
                  required: true,
                  placeholder: "ex : Mariage de Pierre et Louise (2020)" %>
      <%= f.input :privacy,
                  label: "Évènement privé ?",
                  as: :boolean %>
    </div>
  </div>
  <div class="form-half">
    <div class="left">
      <%= f.input :date_start, 
                  input_html: { autocomplete: 'off' },
                  label: "Date de début", 
                  as: :date_picker %>
    </div>
    <div class="right">
      <%= f.input :date_end, 
                  input_html: { autocomplete: 'off' },
                  label: "Date de fin", 
                  as: :date_picker %>
    </div>
  </div>
  <hr>
  <%= f.input :story, 
              label: "Histoire de l'évènement", 
              as: :text,
              placeholder: "Raconter ici l'histoire de l'évènement, son déroulé, les personnes impliquées et les conséquences qu'il a eues sur elles." %>
  <%= f.input :comment, 
              label: "Commentaires", 
              as: :text,
              placeholder: "Renseigner ici les commentaires historiographiques qui concernent cet évènement. Par exemple, comment les informations le concernant ont été obtenues, quelle institution les détient, etc." %>
  <%= button_tag type: "submit", class: "btn" do %>
    <i class="material-icons">edit_calendar</i> Modifier l'évènement
  <% end %>
<% end %>

<%= javascript_pack_tag 'file_upload_previews' %>

<script>
  // DatePicker
  $("input.date_picker").datepicker({ format: 'dd-mm-yyyy' });
</script>