<div class="section user_form">
  <h2>Inscription</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <%= button_tag type: "submit", class: "btn" do %>
      <i class="material-icons">person_add</i> <%= t('sign_up') %>
    <% end %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>