<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>

<h1>Personnes</h1>
<div class="admin_top_bar">
  <%= render "pages/search_input" %>
  <%= link_to new_person_path, class: "btn" do %>
    <i class="material-icons">person_add</i>
    Créer une fiche personne
  <% end %>
</div>

<table class="admin_table">
  <tr>
    <th>ID</th>
    <th class="pic_cell">Aperçu</th>
    <th>NOM</th>
    <th>Prénom</th>
    <th>Proches</th>
    <th>Naissance</th>
    <th>Actions</th>
  </tr>
  <% @people.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td class="pic_cell">
        <% pic = p.profile_pic.present? ? p.profile_pic.key : "default_profile_pic" %>
        <%= cl_image_tag pic, format: "png", width: "80", height: "80", crop: "fill", gravity: "face" %></td>
      <td>
        <%= p.last_name.upcase %>
        <% if p.spouse_name.present? %>
          <br>
          <span class="spouse_name">épouse <%= p.spouse_name.upcase %></span>
        <% end %>
      </td>
      <td><%= p.first_name %></td>
      <td>
        <%= p.family_links.count %>
      </td>
      <td><%= p.birth_date %></td>
      <td><%= link_to 'Liens', new_family_link_path(parent_a_id: p.id) %></td>
    </tr>
  <% end %>
</table>
<div class="pagination_row">
  <%= paginate @people %>
</div>