<div class="container">
  <div class="person_header admin-show">
    <% pic = @person.profile_pic.present? ? @person.profile_pic.key : "default_profile_pic" %>
    <%= cl_image_tag pic, width: "600", height: "600", crop: "fill", gravity: "face", class: "img-300" %>
    <div class="person_header_info">
      <% if @person.privacy %>
        <div>
          <span class="private-content mb10">
            <i class="material-icons">security</i> Privé
          </span>
        </div>
      <% end %>
      <h1><%= @person.name %></h1>
      <div class="half">
        <div class="left">
          <label>Nom de naissance</label>
          <p><%= @person.last_name.upcase %></p>
        </div>
        <% unless @person.spouse_name == "" %>
          <div class="left">
            <label>Nom d'épouse</label>
            <p><%= @person.spouse_name.upcase %></p>
          </div>
        <% end %>
      </div>
      <div class="half">
        <div class="left">
          <label>Prénom</label>
          <p><%= @person.first_name %></p>
        </div>
        <% unless @person.middle_name == "" %>
          <div class="left">
            <label>Autres prénoms</label>
            <p><%= @person.middle_name %></p>
          </div>
        <% end %>
      </div>
      <% unless @aliases == [] %>
        <hr>
        <table class="admin_table">
          <tr>
            <th>Alias</th>
            <th>Catégorie</th>
          </tr>
          <% @aliases.each do |a| %>
            <tr>
              <td><%= a.name%></td>
              <td><%= a.category%></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <div class="half">
        <% unless @person.birth_date.nil? %>
          <div class="left">
            <label>Date de naissance</label>
            <p><%= @person.birth_date %></p>
          </div>
        <% end %>
        <% unless @person.birth_place == "" %>
          <div class="left">
            <label>Lieu de naissance</label>
            <p><%= @person.birth_place %></p>
          </div>
        <% end %>
      </div>
      <div class="half">
        <% unless @person.death_date.nil? %>
          <div class="left">
            <label>Date de décès</label>
            <p><%= @person.death_date %></p>
          </div>
        <% end %>
        <% unless @person.death_place == "" %>
          <div class="left">
            <label>Lieu de décès</label>
            <p><%= @person.death_place %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="admin-show">

    <% unless @person.biography == "" %>
      <div class="show-section">
        <h2>Biographie</h2>
        <p><%= @person.biography %></p>
      </div>
    <% end %>

    <% unless @images == [] %>
      <div class="show-section">
        <h2><i class="material-icons">image</i>Photographies</h2>
        <div class="slideshow">
          <% @images.each do |doc| %>
            <%= render "documents/card", doc: doc %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @texts == [] %>
      <div class="show-section">
        <h2><i class="material-icons">text_snippet</i>Documents</h2>
        <div class="slideshow">
          <% @texts.each do |doc| %>
            <%= render "documents/card", doc: doc %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @links == [] %>
      <div class="show-section">
        <h2><i class="material-icons">people</i>Personnes liées</h2>
        <div class="slideshow">
          <% @links.each do |link| %>
            <%  if link.person_a_id == @person.id
                  p = Person.find(link.person_b_id)
                  fam_link = link.link_b_to_a
                else
                  p = Person.find(link.person_a_id)
                  fam_link = link.link_a_to_b
                end %>
            <%= render "people/card", person: p, link: fam_link %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @events == [] %>
      <div class="show-section">
        <h2><i class="material-icons">event</i>Évènements liés</h2>
        <div class="slideshow">
          <% @events.each do |event| %>
            <%= render "events/card", event: event %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @locations == [] %>
      <div class="show-section">
        <h2><i class="material-icons">place</i>Lieux liés</h2>
        <div class="slideshow">
          <% @locations.each do |location| %>
            <%= render "locations/card", location: location %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @person.notes == "" %>
      <div class="show-section">
        <h3>Notes</h3>
        <p><%= @person.notes %></p>
      </div>
    <% end %>
  </div>
</div>