<div class="container">
  <div class="person_header">
    <% file = @person.profile_picture %>
    <% if file.original_format == 'pdf' %>
      <%= cl_image_tag file.url.key, format: "png", width: "300", height: "300", crop: "fill" %>
    <% else %>
      <%= cl_image_tag file.url.key, width: "300", height: "300", crop: "fill" %>
    <% end %>
    <div class="person_header_info">
      <h1><%= @person.name %></h1>
      <% unless @person.nee == "" %>
        <span class="nee">née <%= @person.nee %></span>
      <% end %>
      <span class="date"><%= @person.birth_date&.year %> - <%= @person.death_date&.year %></span>
      <div class="places">
        <span class="place">Varsovie</span>
        -
        <span class="place">Paris</span>
        -
        <span class="place">Nice</span>
      </div>
    </div>
  </div>
  <div class="biography">
    <h2>Biographie</h2>
    <p>Son père est l'informaticien et mathématicien franco-américain Bernard Chazelle, professeur à l'Université de Princeton, et sa mère, Celia Martin Chazelle, est historienne du Moyen Âge. Ses origines françaises font qu'il est parfaitement bilingue en français et en anglais. Il effectue ses études de cinéma à l'Université Harvard, où il rencontre son futur comparse, Justin Hurwitz, qui composera les musiques de ses films, et avec qui il partage sa passion pour le jazz et les comédies musicales françaises comme Les Parapluies de Cherbourg ou les Demoiselles de Rochefort.</p>
  </div>
  <div class="photos">
    <h2>Photographies</h2>
    <div class="slideshow">
      <% @images.each do |doc| %>
        <%= render "pages/result_card", doc: doc %>
      <% end %>
    </div>
  </div>
  <div class="photos">
    <h2>Documents</h2>
    <div class="slideshow">
      <% @texts.each do |doc| %>
        <%= render "pages/result_card", doc: doc %>
      <% end %>
    </div>
  </div>
</div>