<div class="highlighted_card <%= mirrored %>">
  <div class="card_info">
    <div class="card_info_header">
      <% date_display = Date.today.year - date.year %>
      <span class="title">Il y a <span class=""><%= date_display %> ans</span>, <%= header_title %></span>
    </div>
    <div class="card_info_body">
      <span class="title"><%= title %></span>
      <p><%= description.truncate(350) %></p>
      <%= link_to btn_path do %>
        <div class="btn">En apprendre plus</div>
      <% end %>
    </div>
    <div class="card_info_footer">
      <span class="text"><%= footer_text %></span>
      <div class="stats">
        <% stats.each do |stat| %>
          <div class="stat">
            <div>
              <i class="material-icons"><%= stat.fetch(:icon) %></i>
              <span class="value"><%= stat.fetch(:value) %></span>
            </div>
            <span class="unit"><%= stat.fetch(:unit).pluralize(stat.fetch(:value)) %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= cl_image_tag pic, width: "600", aspect_ratio: "4:3", crop: "fill", gravity: "face", class: "card_pic" %>
</div>