<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<% @from = params[:from] %>
<% if @from == "document" %>
  <% content_for :meta_title, "Admin — Lier des livres à " + @document.name %>
  <%= link_to admin_document_path(@document), class: "back_link" do %>
    <i class="material-icons">arrow_back_ios</i>
    <span>Annuler</span>
  <% end %>
  <h1>Lier des livres à <%= @document.name %></h1>
  <%= simple_form_for [:admin, @book_document] do |d| %>
    <div class="book-document">
      <%= d.input :from, as: :hidden, input_html: { value: @from } %>
      <%= d.input :book_id,
                      label: "Livre",
                      collection: Book.order(:title), 
                      prompt: "Liste des livres",
                      label_method: :title_and_author, 
                      input_html: { name: 'book_document[0][book_id]' },
                      value_method: :id %>
    </div>
    <div class="flex flex-row">
      <button class="btn btn-red btn-mini remove-book-document block hidden mr10">Enlever le dernier livre</button>
      <button class="btn btn-mini add-book-document block"><i class="material-icons">add</i> Ajouter un livre</button>
    </div>
    <%= button_tag type: "submit", class: "btn", name: "document_id", value: @document.id do %>
      Valider
    <% end %>
  <% end %>
<% elsif @from == "book" %>
  <% content_for :meta_title, "Admin — Lier des documents à " + @book.title %>
  <%= link_to admin_book_path(@book), class: "back_link" do %>
    <i class="material-icons">arrow_back_ios</i>
    <span>Annuler</span>
  <% end %>
  <h1>Lier des documents à <%= @book.title %></h1>
  <%= simple_form_for [:admin, @book_document] do |d| %>
    <div class="book-document">
      <%= d.input  :from, as: :hidden, input_html: { value: @from } %>
      <%= d.input  :document_id,
                      label: "Document",
                      collection: Document.order(:name), 
                      prompt: "Liste des documents",
                      label_method: :name, 
                      input_html: { name: 'book_document[0][document_id]' },
                      value_method: :id %>
    </div>
    <div class="flex flex-row">
      <button class="btn btn-red btn-mini remove-book-document block hidden mr10">Enlever le dernier document</button>
      <button class="btn btn-mini add-book-document block"><i class="material-icons">add</i> Ajouter un document</button>
    </div>
    <%= button_tag type: "submit", class: "btn", name: "book_id", value: @book.id do %>
      Valider
    <% end %>
  <% end %>
<% end %>

<script>
  // Add Book Document
  var i = $('.book-document').length;

  $('.add-book-document').click(function(event){
    event.preventDefault();
    var bookDocument      = $('.book-document').length;
    var lastBookDocument  = $('.book-document').last();
    var removeButton      = $('.remove-book-document').last();
    removeButton.removeClass('hidden');

    var newBookDocument   = lastBookDocument.clone();
    var select            = newBookDocument.find('select');
    if (select.attr('id') == "book_document_document_id") {
      select.attr('name', 'book_document['+i+'][document_id]');
    } else {
      select.attr('name', 'book_document['+i+'][book_id]');
    }
    select.removeAttr('id');
    lastBookDocument.after(newBookDocument);
    i++;
  });

  // Remove Document Person
  $('.remove-book-document').click(function(event){
    event.preventDefault();

    var removeButton      = $('.remove-book-document').last();
    var bookDocument      = $('.book-document').length;
    var lastBookDocument  = $('.book-document').last();

    if (bookDocument == 2) {
      removeButton.addClass('hidden');
      lastBookDocument.remove();
    } else {
      lastBookDocument.remove();
    }
  });
</script>