<div class="admin_nav_menu">
  <div>
    <p class="nav_title">Admin</p>
    <%= link_to admin_funds_path, class: "admin_nav_item" do %>
        <i class="material-icons">inventory_2</i>
        <span>Fonds</span>
    <% end %>
    <%= link_to admin_events_path, class: "admin_nav_item" do %>
        <i class="material-icons">event</i>
        <span>Évènements</span>
    <% end %>
    <%= link_to admin_documents_path, class: "admin_nav_item" do %>
        <i class="material-icons">folder_open</i>
        <span>Documents</span>
    <% end %>
    <%= link_to admin_people_path, class: "admin_nav_item" do %>
        <i class="material-icons">people</i>
        <span>Personnes</span>
    <% end %>
    <%= link_to admin_locations_path, class: "admin_nav_item" do %>
        <i class="material-icons">place</i>
        <span>Lieux</span>
    <% end %>
    <%= link_to admin_books_path, class: "admin_nav_item" do %>
        <i class="material-icons">book</i>
        <span>Livres</span>
    <% end %>
    <%= link_to admin_users_path, class: "admin_nav_item" do %>
        <i class="material-icons">account_circle</i>
        <span>Utilisateurs</span>
    <% end %>
  </div>
  <div>
    <%= link_to root_path, class: "admin_nav_item" do %>
      <i class="material-icons">arrow_back_ios</i>
      <span>Retour au site</span>
    <% end %>
  </div>
</div>