<div class="nav_menu">
  <div class="nav_menu_left">
    <%= link_to "Accueil", root_path %>
    <%= link_to "Souvenir", root_path %>
    <%= link_to "Carnet", root_path %>
    <%= link_to "Bibliothèque", root_path %>
  </div>
  <div class="nav_menu_account">
    <%= link_to "Se connecter", root_path %>
  </div>
</div>