<div class="result_card">
  <%= link_to document_path(doc) do %>
    <% file = doc.document_files.first %>
    <% if ["png", "jpg", "jpeg"].include?(file.original_format) %>
      <%= cl_image_tag file.url.key, width: "300", height: "300", crop: "fill" %>
    <% else %>
      <%= cl_image_tag file.url.key, format: "png", width: "300", height: "300", crop: "fill" %>
    <% end %>
    <div class="result_card_info">
      <span class="name"><%= doc.name %></span>
      <div class="flex flex-column">
        <span class="date"><%= doc.date&.year %></span>
        <span class="location"><%= doc.location %></span>
      </div>
    </div>
  <% end %>
</div>