<% content_for :meta_title, "À tous les miens — Accueil" %>
<div class="section landing_header">
  <h1>À tous les miens</h1>
  <p>25 ans de collection d’histoires, de documents, de photographies, d’enregistrements sur l’histoire croisée de deux familles.</p>
  <%= render "pages/search_input" %>
</div>
<% @i = 0 %>
<% @card_position = "" %>
<% unless @events == [] && @people == [] %>
  <div class="section landing_today">
    <h2>Aujourd'hui</h2>
    <% @events.each do |event| %>
      <% if @i.even? %>
        <% @card_position = "" %>
      <% else %>
        <% @card_position = "mirrored" %>
      <% end %>
      <%= render 'landing/highlighted_card',
        mirrored: @card_position,
        header_title: "aujourd'hui",
        date: event.date_start,
        title: event.name,
        description: event.story,
        btn_path: event_path(event),
        footer_text: "Cet évènement est relié à des éléments et des personnes :",
        pic: event.illustration.key,
        stats: [
          {
            icon: "people",
            value: event.people.count,
            unit: "personne"
          },
          {
            icon: "photo",
            value: event.images.count,
            unit: "photo"
          },
          {
            icon: "movie",
            value: event.videos.count,
            unit: "film"
          },
          {
            icon: "folder_open",
            value: event.documents.count,
            unit: "document"
          }
        ]
       %>
       <% @i += 1 %>
    <% end %>
    <% @people.each do |person| %>
      <% if @i.even? %>
        <% @card_position = "" %>
      <% else %>
        <% @card_position = "mirrored" %>
      <% end %>
      <%= render 'landing/highlighted_card',
        mirrored: @card_position,
        header_title: "naissait",
        date: person.birth_date,
        title: person.name,
        description: person.biography,
        btn_path: person_path(person),
        footer_text: "Cette personne est reliée à des éléments et d’autres personnes :",
        pic: person.profile_pic.key,
        stats: [
          {
            icon: "people",
            value: person.family_links.count,
            unit: "personne"
          },
          {
            icon: "photo",
            value: person.documents.count,
            unit: "photo"
          },
          {
            icon: "movie",
            value: "8",
            unit: "film"
          },
          {
            icon: "folder_open",
            value: "4",
            unit: "document"
          }
        ]
       %>
      <% @i += 1 %>
    <% end %>
  </div>
<% end %>
<div class="section landing_souvenir">
  <div class="souvenir_card">
    <h2>Souvenir</h2>
    <p>Retrouvez ici toutes les traces du quotidien ordinaire comme exceptionnel de nos parents.</p>
  </div>
  <div class="flex flex-row flex-wrap justify-evenly">
    <%= link_to people_path, class: "category-link" do %>
      <%= render "landing/category",
        title: "Personnes",
        icon: "people",
        description: "Membres de la famille Milgrom-Sankowicz, amis et personnes auxquels leurs destins sont liés."
      %>
    <% end %>

    <%= link_to locations_path, class: "category-link" do %>
      <%= render "landing/category",
        title: "Lieux",
        icon: "location_on",
        description: "En Pologne, en France ou ailleurs, ces lieux ont été le théâtre de nos vies."
      %>
    <% end %>

    <%= link_to events_path, class: "category-link" do %>
      <%= render "landing/category",
        title: "Évènements",
        icon: "calendar_today",
        description: "Chronologiquement, ou pour chaque personne, retrouvez le fil de leurs vies : naissances, mariages, évènements historiques."
      %>
    <% end %>

    <%= link_to documents_path(category: "Photographies"), class: "category-link" do %>
      <%= render "landing/category",
        title: "Photographies",
        icon: "photo",
        description: "Portraits, photographies historiques, phtographies personnelles."
      %>
    <% end %>

    <%= link_to documents_path(category: "Films"), class: "category-link" do %>
      <%= render "landing/category",
        title: "Films",
        icon: "movie",
        description: "Entretiens, témoignages, enregistrements lors d’évènements importants."
      %>
    <% end %>

    <%= link_to documents_path(category: "Documents"), class: "category-link" do %>
      <%= render "landing/category",
        title: "Documents",
        icon: "folder_open",
        description: "État civil, papiers d’archive, faux papiers, fiches de déportés."
      %>
    <% end %>
  </div>
</div>