<% content_for :meta_title, "À tous les miens — Résultats de la recherche" %>
<div class="section search_header">
  <h1>Résultats de la recherche</h1>
  <%= render "pages/search_input", value: @keywords %>
</div>
<div class="filters_bar">
  <%= link_to search_results_path(search: {keywords: @keywords}, filter: "documents") do %>
    Documents
  <% end %>
  <%= link_to search_results_path(search: {keywords: @keywords}, filter: "people") do %>
    Personnes
  <% end %>
  <span>Filtrer les résultats</span>
  <i class="material-icons">expand_more</i>
</div>

<% unless @people == [] %>
  <%= render "pages/search_category_people",
        people: @people %>
  <%= paginate @people %>
<% end %>

<% unless @images == [] %>
  <%= render "pages/search_category_documents", 
        category: "Photographies",
        icon: "image",
        docs: @images
  %>
<% end %>

<% unless @texts == [] %>
  <%= render "pages/search_category_documents", 
        category: "Documents",
        icon: "folder_open",
        docs: @texts
  %>
<% end %>

<% unless @audios == [] %>
  <%= render "pages/search_category_documents", 
        category: "Audios",
        icon: "audiotrack",
        docs: @audios
  %>
<% end %>

<% unless @videos == [] %>
  <%= render "pages/search_category_documents", 
        category: "Vidéos",
        icon: "video_library",
        docs: @videos
  %>
<% end %>

<% unless @others == [] %>
  <%= render "pages/search_category_documents", 
        category: "Autres documents",
        icon: "grid_view",
        docs: @others
  %>
<% end %>

<% unless @events == [] %>
  <%= render "pages/search_category_events",
        events: @events %>
<% end %>

<% unless @locations == [] %>
  <%= render "pages/search_category_locations",
        locations: @locations %>
<% end %>