<div class="result_card">
  <%= link_to document_path(doc) do %>
    <% file = doc.document_files.first %>
    <%= render "documents/image_card", file: file %>
    <div class="result_card_info">
      <span class="name"><%= doc.name %></span>
      <div class="flex flex-column">
        <span class="date"><%= doc.date&.year %></span>
        <span class="location"><%= doc.location %></span>
      </div>
      <% if doc.privacy? %>
        <div>
          <span class="private-content">
            <i class="material-icons">security</i> Privé
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>