<% content_for :meta_title, "À tous les miens — " + @document.name %>
<div class="container">
  <div class="document_viewer">
    <h1><%= @document.name %></h1>
    <% if @document_file.nil? %>
      <% file = @document.document_files.first %>
    <% else %>
      <% file = @document_file %>
    <% end %>
    <div class="flex flex-row">
      <% @document_files.each do |f| %>
        <%= link_to document_path(document_file: f) do %>
          <%  if f.id == file.id
                @active = "active"
              else
                @active = ""
              end %>
          <div class="file-preview <%= @active %>">
            <%= render "documents/image_mini", file: f %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to Cloudinary::Utils.cloudinary_url(file.url.key), target: "_blank" do %>
      <% if file.type == "audio" || file.type == "video" %>
        <%= cl_video_tag file.url.key, controls: true %>
      <% elsif file.type == "image" %>
        <%= cl_image_tag file.url.key, crop: "fill" %>
      <% else %>
        <%= cl_image_tag file.url.key, format: "png" %>
      <% end %>
    <% end %>
    <div class="admin-show mt20">
      <label>Titre</label>
      <p><%= file.name %></p>

      <% unless file.transcript == "" %>
        <label>Transcript</label>
        <p><%= file.transcript %></p>
      <% end %>

      <% unless file.translation_fr == "" %>
        <label>Traduction en français</label>
        <p><%= file.translation_fr %></p>
      <% end %>
      
      <% unless file.comment == "" %>
        <label>Commentaires</label>
        <p><%= file.comment %></p>
      <% end %>

      <% unless file.persons_position == "" %>
        <label>Position des personnes</label>
        <p><%= file.persons_position %></p>
      <% end %>
    </div>
  </div>
  <div class="document_info">
    <div class="row">
      <% unless @document.date == "" || @document.date.nil? %>
        <div>
          <i class="material-icons">calendar_today</i><%= @document.date %>
        </div>
      <% end %>
      <% unless @document.location == "" || @document.location.nil? %>
        <div>
          <i class="material-icons">location_on</i><%= @document.location %>
        </div>
      <% end %>
    </div>
    <% unless @people == [] %>
      <div class="row">
        <i class="material-icons">people</i>
        <% @people.each do |p| %>
          <%= link_to p.full_name_index, person_path(p) %>
        <% end %>
      </div>
    <% end %>
    <% unless @events == [] %>
      <div class="row">
        <i class="material-icons">event</i>
        <% @events.each do |e| %>
          <%= link_to e.name, event_path(e) %>
        <% end %>
      </div>
    <% end %>
    <% unless @locations == [] %>
      <div class="row">
        <i class="material-icons">place</i>
        <% @locations.each do |l| %>
          <%= link_to l.name, location_path(l) %>
        <% end %>
      </div>
    <% end %>
    <% unless @document.notes == "" || @document.notes.nil? %>
      <div class="row">
        <i class="material-icons">short_text</i>
        <p><%= @document.notes %></p>
      </div>
    <% end %>
    <div class="row">
      <i class="material-icons">inventory_2</i>
      <div>
        <p><%= @document.fund.name %></p>
        <p><%= @document.reference %></p>
        <p><%= @document.box %></p>
      </div>
    </div>
  </div>
</div>