<div class="result_card">
  <%= link_to book_path(book) do %>
    <% pic = book.cover.present? ? book.cover : "default_book_pic" %>
    <%= cl_image_tag pic, width: "600", height: "600", crop: "fill", gravity: "face", class: "img-300" %>
    <div class="result_card_info">
      <span class="name"><%= book.title %></span>
      <div class="flex flex-column">
        <span class="date"><%= book.author %> <% unless book.date_publication.nil? %>- <%= book.date_publication&.year %><% end %></span>
      </div>
      <% if book.privacy? %>
        <div>
          <span class="private-content">
            <i class="material-icons">security</i> Privé
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>