<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>

<h1>Fonds</h1>
<div class="admin_top_bar">
  <%= render "admin/funds/search_input" %>
  <%= link_to new_admin_fund_path, class: "btn" do %>
    <i class="material-icons">inventory_2</i>
    Ajouter un fonds
  <% end %>
</div>

<table class="admin_table">
  <tr>
    <th class="center">ID</th>
    <th>Nom</th>
    <th>Documents</th>
    <th>Actions</th>
  </tr>
  <% @funds.each do |f| %>
    <tr>
      <td class="center"><%= f.id %></td>
      <td>
        <%= link_to admin_fund_path(f.id) do %>
          <%= f.name %>
        <% end %>
      </td>
      <td><%= f.documents.count %></td>
      <td>
        <%= link_to 'Modifier', edit_admin_fund_path(f) %>
      </td>
    </tr>
  <% end %>
</table>
<div class="pagination_row">
  <%= paginate @funds %>
</div>