<% content_for :meta_title, "Admin — Documents" %>
<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>

<h1>Documents</h1>
<div class="admin_top_bar">
  <%= render "admin/documents/search_input" %>
  <%= link_to new_admin_document_path, class: "btn" do %>
    <i class="material-icons">create_new_folder</i>
    Ajouter un document
  <% end %>
</div>

<div class="admin_table_container">
  <table class="admin_table">
    <tr>
      <th class="center">ID</th>
      <th class="pic_cell">Aperçu</th>
      <th>Nom</th>
      <th>Date</th>
      <th>Lieu</th>
      <th>Personnes</th>
      <th>Actions</th>
    </tr>
    <% @documents.each do |d| %>
      <tr>
        <td class="center"><%= d.id %></td>
        <td class="pic_cell">
          <% file = d.document_files.first %>
          <%= render "documents/image_mini", file: file %>
        </td>
        <td>
          <%= link_to admin_document_path(d.id) do %>
            <%= d.name %>
          <% end %><br>
          <% if d.privacy %>
          <span class="private-content">
            <i class="material-icons">security</i> Privé
          </span>
          <% end %>
        </td>
        <td><%= d.date&.year %></td>
        <td><%= d.location %></td>
        <td class="font-small">
          <ul>
            <% d.document_people.each do |dp| %>
              <% person = dp.person%>
              <li>
                <%= link_to admin_person_path(person.id) do %>
                  <%= dp.person.full_name_index %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Modifier', edit_admin_document_path(d) %><br>
          <%= link_to 'Voir', document_path(d) %><br>
          <%= link_to 'Supprimer', admin_document_delete_path(d), data: { confirm: "Vous allez supprimer de façon permanente ce document, ainsi que tous les siens avec les autres ressources. Voulez-vous continuer ?" } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="pagination_row">
  <%= paginate @documents %>
</div>