<% content_for :meta_title, "Admin — " + @document.name %>
<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<%= link_to admin_documents_path, class: "back_link" do %>
  <i class="material-icons">arrow_back_ios</i>
  <span>Annuler et revenir à l'index</span>
<% end %>
<div class="flex flex-row justify-between align-baseline">
  <div class="flex flex-row align-baseline">
    <h1><%= @document.name %></h1>
    <%= link_to document_path(@document) do %>
      (voir la fiche)
    <% end %>
  </div>
  <div>
    <%= link_to edit_admin_document_path, class: "btn btn-mini" do %>
      <i class="material-icons">edit_note</i>
      <span>Modifier la fiche</span>
    <% end %>
  </div>
</div>
<div class="person_header admin-show flex flex-row">
  <div class="mr10">
    <% file = @document.document_files.first %>
    <%= render "documents/image_card", file: file %>
  </div>
  <div class="person_header_info flex flex-column flex-grow-1">
    <% if @document.privacy %>
      <div>
        <span class="private-content mb10">
          <i class="material-icons">security</i> Privé
        </span>
      </div>
    <% end %>
    <div>
      <p class="flex flex-column">
        <label>Titre</label>
        <%= @document.name %>
      </p>
    </div>
    <div>
      <p class="flex flex-column">
        <label>Fonds</label>
        <%= @document.fund.name %>
      </p>
    </div>
    <div class="half">
      <% unless @document.date == "" || @document.date.nil? %>
        <div class="left">
          <label>Date</label>
          <p><%= @document.date %></p>
        </div>
      <% end %>
      <% unless @document.location == "" || @document.location.nil? %>
        <div class="left">
          <label>Lieu</label>
          <p><%= @document.location %></p>
        </div>
      <% end %>
    </div>
    <div class="half">
      <% unless @document.reference == "" || @document.reference.nil? %>
        <div class="left">
          <label>Référence</label>
          <p><%= @document.reference %></p>
        </div>
      <% end %>
      <% unless @document.box == "" || @document.box.nil? %>
        <div class="left">
          <label>Identifiant de stockage</label>
          <p><%= @document.box %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="show-section">
  <h3><i class="material-icons">file_present</i>Fichiers</h3>
  <% unless @document.document_files == [] %>
    <div class="admin_table_container">
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Titre</th>
          <th>Format</th>
          <th>Action</th>
        </tr>
        <% @document.document_files.each do |f| %>
          <tr>
            <td class="center">
              <%= f.id %>
            </td>
            <td class="pic_cell">
              <%= render "documents/image_mini", file: f %>
            </td>
            <td>
              <%= f.name %>
            </td>
            <td><%= f.original_format %></td>
            <td>
              <%= link_to 'Modifier', edit_admin_document_file_path(f) %><br>
              <%= link_to 'Supprimer', admin_document_file_delete_path(f) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <div class="flex flex-row">
    <%= link_to new_admin_document_document_file_path(document_id: @document.id), class: "btn mr10" do %>
    <i class="material-icons">note_add</i> Ajouter un fichier
  <% end %>
  <%= link_to admin_document_multiple_new_path(document_id: @document.id), class: "btn" do %>
    <i class="material-icons">note_add</i> Ajout groupé
  <% end %>
  </div>
</div>

<% unless @document.notes == "" %>
  <div class="show-section">
    <h3>Notes</h3>
    <p><%= @document.notes %></p>
  </div>
<% end %>

<div class="show-section">
  <h3><i class="material-icons">people</i>Personnes liées</h3>
  <% unless @document_people == [] %>
    <div class="admin_table_container">
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Action</th>
        </tr>
        <% @document_people.each do |dp| %>
          <% person = dp.person %>
          <tr>
            <td class="center">
              <%= person.id %>
            </td>
            <td class="pic_cell">
              <% pic = person.profile_pic.present? ? person.profile_pic.key : "default_profile_pic" %>
              <%= cl_image_tag pic, width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %>
            </td>
            <td>
              <%= link_to admin_person_path(person.id) do %>
                <%= person.last_name.upcase %>
              <% end %>
              <% if person.spouse_name.present? %>
                <br>
                <span class="spouse_name">épouse <%= person.spouse_name.upcase %></span>
              <% end %>
            </td>
            <td><%= person.first_name %></td>
            <td>
              <%= link_to admin_document_person_delete_path(dp, redirection: "document") do %>
                Supprimer le lien
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <%= link_to new_admin_document_person_path(document_id: @document.id, from: "document"), class: "btn btn-mini" do %>
    <i class="material-icons">person_add</i> Lier une personne au document
  <% end %>
</div>

<div class="show-section">
  <h3><i class="material-icons">event</i>Évènements liés</h3>
  <% unless @event_documents == [] %>
    <div class="admin_table_container">
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Nom</th>
          <th class="center">Date de début</th>
          <th class="center">Date de fin</th>
          <th>Action</th>
        </tr>
        <% @event_documents.each do |ed| %>
          <% event = ed.event %>
          <tr>
            <td class="center">
              <%= event.id %>
            </td>
            <td class="pic_cell">
              <% pic = event.illustration.present? ? event.illustration.key : "default_event_pic" %>
              <%= cl_image_tag pic, width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %>
            </td>
            <td>
              <%= link_to admin_event_path(event.id) do %>
                <%= event.name %>
              <% end %>
            </td>
            <td class="center"><%= event.date_start %></td>
            <td class="center"><%= event.date_end %></td>
            <td>
              <%= link_to admin_event_document_delete_path(ed, redirection: "document") do %>
                Supprimer le lien
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <%= link_to new_admin_event_document_path(from: "document", document_id: @document.id), class: "btn btn-mini" do %>
    <i class="material-icons">event</i> Lier un évènement au document
  <% end %>
</div>

<div class="show-section">
  <h3><i class="material-icons">place</i>Lieux liés</h3>
  <% unless @location_documents == [] %>
    <div class="admin_table_container">
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Ville</th>
          <th>Pays</th>
          <th>Action</th>
        </tr>
        <% @location_documents.each do |ld| %>
          <% location = ld.location %>
          <tr>
            <td class="center">
              <%= location.id %>
            </td>
            <td class="pic_cell">
              <% pic = location.illustration.present? ? location.illustration.key : "default_location_pic" %>
              <%= cl_image_tag pic, width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %>
            </td>
            <td>
              <%= link_to admin_location_path(location.id) do %>
                <%= location.name %>
              <% end %>
            </td>
            <td><%= location.name %></td>
            <td><%= location.address %></td>
            <td><%= location.city %></td>
            <td><%= location.country %></td>
            <td>
              <%= link_to admin_location_document_delete_path(ld, redirection: "document") do %>
                Supprimer le lien
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <%= link_to new_admin_location_document_path(from: "document", document_id: @document.id), class: "btn btn-mini" do %>
    <i class="material-icons">add_location</i> Lier un lieu au document
  <% end %>
</div>