<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<%= link_to admin_person_path(@person), class: "back_link" do %>
  <i class="material-icons">arrow_back_ios</i>
  <span>Annuler et revenir à la fiche</span>
<% end %>
<h1>Modifier la fiche de <%= @person.name %></h1>
<%= simple_form_for [:admin, @person] do |f| %>
  <div class="form-half">
    <div class="left">
      <%= f.input :gender, 
                  label: false, 
                  as: :radio_buttons, 
                  collection: [['0', 'Femme'], ['1', 'Homme']], 
                  label_method: :second, 
                  value_method: :first,
                  required: true %>
    </div>
    <div class="right">
      <%= f.input :profile_pic, 
                  label: "Photo de profil", 
                  as: :file %>
    </div>
  </div>
  <div class="form-half">
    <div class="left">
      <%= f.input :first_name, 
                  label: "Prénom", 
                  as: :string,
                  input_html: { autocomplete: 'off' },
                  placeholder: "ex : Ivan" %>
    </div>
    <div class="right">
      <%= f.input :last_name, 
                  label: "Nom de famille", 
                  as: :string,
                  placeholder: "ex : GORKI",
                  input_html: { autocomplete: 'off' },
                  required: true %>
    </div>
  </div>
  <div class="form-half">
    <div class="left">
      <%= f.input :middle_name, 
                  label: "Autres prénoms",
                  input_html: { autocomplete: 'off' },
                  as: :string %>
    </div>
    <div class="right">
      <%= f.input :spouse_name, 
                  label: "Nom d'épouse", 
                  input_html: { autocomplete: 'off' },
                  as: :string %>
    </div>
  </div>
  <hr>
  <div class="form-half">
    <div class="left">
      <%= f.input :birth_date, 
                  input_html: { autocomplete: 'off' },
                  label: "Date de naissance", 
                  as: :date_picker %>
    </div>
    <div class="right">
      <%= f.input :birth_place, 
                  label: "Lieu de naissance", 
                  as: :string %>
    </div>
  </div>
  <div class="form-half">
    <div class="left">
      <%= f.input :death_date,
                  input_html: { autocomplete: 'off' },
                  label: "Date de décès", 
                  as: :date_picker %>
    </div>
    <div class="right">
      <%= f.input :death_place, 
                  label: "Lieu de décès", 
                  as: :string %>
    </div>
  </div>
  <hr>
  <%= f.input :biography, 
              label: "Biographie", 
              as: :text,
              placeholder: "Renseigner ici la biographie de cette personne. Par exemple les différents évènements qui ont marqué sa vie, ses engagements etc." %>
  <hr>
  <%= f.input :notes, 
              label: "Carnet de notes", 
              as: :text,
              placeholder: "Renseigner ici les commentaires historiographiques qui concernent cette personne. Par exemple comment ses informations ont été obtenues, quelle institution détient certains documents." %>
  <%= button_tag type: "submit", class: "btn" do %>
    <i class="material-icons">person_outline</i> Modifier la fiche
  <% end %>
<% end %>

<script>
  // DatePicker
  $("input.date_picker").datepicker({ format: 'yyyy-mm-dd' });
</script>