<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>

<h1>Personnes</h1>
<div class="admin_top_bar">
  <%= render "admin/people/search_input" %>
  <%= link_to new_admin_person_path, class: "btn" do %>
    <i class="material-icons">person_add</i>
    Créer une fiche personne
  <% end %>
</div>

<table class="admin_table">
  <tr>
    <th class="center">ID</th>
    <th class="pic_cell">Aperçu</th>
    <th>NOM</th>
    <th>Prénom</th>
    <th>Proches</th>
    <th>Documents</th>
    <th>Naissance</th>
    <th>Actions</th>
  </tr>
  <% @people.each do |p| %>
    <tr>
      <td class="center"><%= p.id %></td>
      <td class="pic_cell">
        <% pic = p.profile_pic.present? ? p.profile_pic.key : "default_profile_pic" %>
        <%= cl_image_tag pic, format: "png", width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %></td>
      <td>
        <%= link_to admin_person_path(p.id) do %>
          <%= p.last_name.upcase %>
        <% end %>
        <% if p.spouse_name.present? %>
          <br>
          <span class="spouse_name">épouse <%= p.spouse_name.upcase %></span>
        <% end %>
      </td>
      <td><%= p.first_name %></td>
      <td>
        <%= p.family_links.count %>
      </td>
      <td>
        <%= p.documents.count %>
      </td>
      <td><%= p.birth_date %></td>
      <td>
        <%= link_to 'Modifier', edit_admin_person_path(p) %><br>
        <%= link_to 'Voir', person_path(p) %>
      </td>
    </tr>
  <% end %>
</table>
<div class="pagination_row">
  <%= paginate @people %>
</div>