<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<%= link_to admin_people_path, class: "back_link" do %>
  <i class="material-icons">arrow_back_ios</i>
  <span>Annuler et revenir à l'index</span>
<% end %>
<div class="flex flex-row justify-between align-baseline">
  <div class="flex flex-row align-baseline">
    <h1><%= @person.full_name_index %></h1>
    <%= link_to person_path(@person) do %>
      (voir la fiche)
    <% end %>
  </div>
  <div>
    <%= link_to edit_admin_person_path(@person), class: "btn btn-mini" do %>
      <i class="material-icons">manage_accounts</i>
      <span>Modifier la fiche</span>
    <% end %>
  </div>
</div>
<div class="person_header admin-show flex flex-row">
  <div class="mr10">
    <% pic = @person.profile_pic.present? ? @person.profile_pic.key : "default_profile_pic" %>
    <%= cl_image_tag pic, width: "600", height: "600", crop: "fill", gravity: "face", class: "img-300" %>
  </div>
  <div class="person_header_info flex flex-column flex-grow-1">
    <% if @person.privacy %>
      <div>
        <span class="private-content mb10">
          <i class="material-icons">security</i> Privé
        </span>
      </div>
    <% end %>
    <div class="half">
      <div class="left">
        <label>Nom de naissance</label>
        <p><% if @person.gender == "0" %>
          Mme
        <% elsif @person.gender == "1" %>
          M.
        <% end %><%= @person.last_name.upcase %></p>
      </div>
      <% unless @person.spouse_name == "" %>
        <div class="right">
          <label>Nom d'épouse</label>
          <p><%= @person.spouse_name.upcase %></p>
        </div>
      <% end %>
    </div>
    <div class="half">
      <div class="left">
        <label>Prénom</label>
        <p><%= @person.first_name %></p>
      </div>
      <% unless @person.middle_name == "" %>
        <div class="right">
          <label>Autres prénoms</label>
          <p><%= @person.middle_name %></p>
        </div>
      <% end %>
    </div>
    <% unless @aliases == [] %>
      <hr>
      <table class="admin_table">
        <tr>
          <th>Alias</th>
          <th>Catégorie</th>
          <th>Action</th>
        </tr>
        <% @aliases.each do |a| %>
          <tr>
            <td><%= a.name%></td>
            <td><%= a.category%></td>
            <td>
              <%= link_to alias_delete_path(a, person_id: @person.id) do %>
                Supprimer
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= link_to new_alias_path(person_id: @person.id), class: "btn btn-mini" do %>
      <i class="material-icons">add</i> Ajouter un alias
    <% end %>
    <div class="half">
      <% unless @person.birth_date.nil? %>
        <div class="left">
          <label>Date de naissance</label>
          <p><%= @person.birth_date %></p>
        </div>
      <% end %>
      <% unless @person.birth_place == "" %>
        <div class="left">
          <label>Lieu de naissance</label>
          <p><%= @person.birth_place %></p>
        </div>
      <% end %>
    </div>
    <div class="half">
      <% unless @person.death_date.nil? %>
        <div class="left">
          <label>Date de décès</label>
          <p><%= @person.death_date %></p>
        </div>
      <% end %>
      <% unless @person.death_place == "" %>
        <div class="left">
          <label>Lieu de décès</label>
          <p><%= @person.death_place %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="admin-show">
  <% unless @person.biography == "" %>
    <div class="show-section">
      <h3>Biographie</h3>
      <p><%= @person.biography %></p>
    </div>
  <% end %>
  <div class="show-section">
    <h3>Liens de parenté</h3>
    <% unless @links == [] %>
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Lien</th>
          <th>Action</th>
        </tr>
        <% @links.each do |link| %>
          <%  if link.person_a_id == @person.id
                p = Person.find(link.person_b_id)
                fam_link = link.link_b_to_a
              else
                p = Person.find(link.person_a_id)
                fam_link = link.link_a_to_b
              end %>
          <% pic = p.profile_pic.present? ? p.profile_pic.key : "default_profile_pic" %>
          <tr>
            <td class="center">
              <%= p.id %>
            </td>
            <td class="pic_cell">
              <%= cl_image_tag pic, width: "200", height: "200", crop: "fill", gravity: "face", class: "img-100" %>
            </td>
            <td>
              <%= link_to admin_person_path(p.id) do %>
                <%= p.last_name.upcase %>
              <% end %>
              <% if p.spouse_name.present? %>
                <br>
                <span class="spouse_name">épouse <%= p.spouse_name.upcase %></span>
              <% end %>
            </td>
            <td><%= p.first_name %></td>
            <td>
              <%= fam_link %>
            </td>
            <td>
              <%= link_to admin_family_link_delete_path(link, person_id: @person.id) do %>
                Supprimer le lien
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= link_to new_admin_family_link_path(person_id: @person.id), class: "btn btn-mini" do %>
      <i class="material-icons">add</i> Ajouter un lien de parenté
    <% end %>
  </div>

  <% unless @documents == [] %>
    <div class="show-section">
      <h3>Documents liés</h3>
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Nom</th>
          <th>Date</th>
          <th>Référence</th>
          <th>Fonds</th>
          <th>Actions</th>
        </tr>
        <% @document_people.each do |dp| %>
          <% doc = dp.document %>
          <tr>
            <td class="center">
              <%= doc.id %>
            </td>
            <td class="pic_cell">
              <% file = doc.document_files.first %>
              <% if file.nil? %>
                <%= cl_image_tag "default_document", width: "200", height: "200", crop: "fill", class: "img-100" %>
              <% else %>
                <%= cl_image_tag file.url.key, format: "png", width: "200", height: "200", crop: "fill", class: "img-100" %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_document_path(doc.id) do %>
                <%= doc.name %>
              <% end %>
            </td>
            <td>
              <%= doc.date %>
            </td>
            <td>
              <%= doc.reference %>
            </td>
            <td>
              <%= doc.fund.name %>
            </td>
            <td>
              <%= link_to admin_document_person_delete_path(dp.id, redirection: "person") do %>
                Supprimer le lien
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <% unless @person.notes.nil? %>
    <div class="show-section">
      <h3>Notes</h3>
      <p><%= @person.notes %></p>
    </div>
  <% end %>

  <div class="show-section">
    <h3>Évènements associés</h3>
    <% unless @event_people == [] %>
      <table class="admin_table">
        <tr>
          <th class="center">ID</th>
          <th class="pic_cell">Aperçu</th>
          <th>Nom</th>
          <th class="center">Date de début</th>
          <th class="center">Date de fin</th>
          <th>Action</th>
        </tr>
        <% @event_people.each do |ep| %>
          <% event = ep.event %>
          <tr>
            <td class="center">
              <%= event.id %>
            </td>
            <td class="pic_cell">
              <% pic = event.illustration.present? ? event.illustration.key : "default_profile_pic" %>
              <%= cl_image_tag pic, width: "160", height: "160", crop: "fill", gravity: "face", class: "img-100" %>
            </td>
            <td>
              <%= link_to admin_event_path(event.id) do %>
                <%= event.name %>
              <% end %>
            </td>
            <td class="center"><%= event.date_start %></td>
            <td class="center"><%= event.date_end %></td>
            <td>
              <%= link_to admin_event_person_delete_path(ep.id, redirection: "person") do %>
                Supprimer le lien
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= link_to new_admin_event_person_path(person_id: @person.id), class: "btn btn-mini" do %>
      <i class="material-icons">add</i> Lier un évènement au document
    <% end %>
  </div>
</div>