<div class="section"></div>
<%= simple_form_for(@document_file) do |f| %>
  <%= f.input :url, as: :file %>
  <%= f.input :original_format, as: :string %>
  <%= f.input :document_id, as: :integer %>
  <%= f.button :submit, "Valider", :type => "submit"%>
<% end %>