<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>

<h1>Utilisateurs</h1>

<table class="admin_table">
  <tr>
    <th class="center">ID</th>
    <th>Adresse e-mail</th>
    <th>Accès au contenu privé ?</th>
    <th>Admin ?</th>
    <th>Date de création</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td class="center"><%= u.id %></td>
      <td><%= u.email %></td>
      <td>
        <% priv = u.has_private_access %>
        <% if priv %>
          Oui
          <%= link_to "(retirer l'accès)", root_path %>
        <% else %>
          Non
          <%= link_to "(donner l'accès)", root_path %>
        <% end %>
      </td>
      <td>
        <% admin = u.admin? %>
        <% if admin %>
          Oui
          <%= link_to "(révoquer les droits)", admin_user_revoke_admin_path(u) %>
        <% else %>
          Non
          <%= link_to "(rendre administrateur)", admin_user_make_admin_path(u) %>
        <% end %>
      </td>
      <td><%= u.created_at.strftime("%F à %T") %></td>
    </tr>
  <% end %>
</table>
<div class="pagination_row">
  <%= paginate @users %>
</div>