<% content_for :meta_title, "Admin — Ajouter des liens de parenté à " + @person.name %>
<% content_for :navbar do %>
  <%= render "pages/admin_navbar" %>
<% end %>
<%= link_to admin_person_path(@person), class: "back_link" do %>
  <i class="material-icons">arrow_back_ios</i>
  <span>Annuler</span>
<% end %>
<h1>Ajouter des liens de parenté à <%= @person.name %></h1>
  <%= simple_form_for [:admin, @family_link] do |link| %>
    <div class="family-link">
      <div class="form-half">
        <div class="left">
          <%= link.input  :person_b_id,
                          label: "Proche",
                          collection: Person.order(:last_name), 
                          prompt: "Personne en relation",
                          label_method: :full_name_index, 
                          input_html: { name: 'family_link[0][person_b_id]' },
                          value_method: :id %>
        </div>
        <div class="right">
          <%= link.input  :link_b_to_a,
                          label: "Ce proche est son/sa",
                          collection: ["Épouse", "Époux", "Mère", "Père", "Sœur", "Frère", "Fille", "Fils", "Cousine", "Cousin", "Tante", "Oncle", "Nièce", "Neveu", "Grand-mère", "Grand-père", "Petite-fille", "Petit-fils"],
                          input_html: { name: 'family_link[0][link_b_to_a]' },
                          prompt: "Lien de parenté" %>
        </div>
      </div>
    </div>
    <div class="flex flex-row">
      <button class="btn btn-red btn-mini remove-family-link block hidden mr10">Enlever le dernier lien</button>
      <button class="btn btn-mini add-family-link block"><i class="material-icons">add</i> Ajouter un lien de parenté</button>
    </div>
    <%= button_tag type: "submit", class: "btn", name: "person_id", value: @person.id do %>
      Valider
    <% end %>
  <% end %>

</div>


<script>
  // Add Family Link
  var attributes = ["person_b_id", "link_b_to_a"];
  var i = $('.family-link').length;

  $('.add-family-link').click(function(event){
    event.preventDefault();
    var familyLinks = $('.family-link').length;
    var lastFamilyLink = $('.family-link').last();
    var removeButton = $('.remove-family-link').last();
    removeButton.removeClass('hidden');

    var newFamilyLink = lastFamilyLink.clone();
    newFamilyLink.find('select').each(function(j) {
      $(this).attr('name', 'family_link['+i+']['+ attributes[j] +']');
      $(this).removeAttr('id');
    });
    lastFamilyLink.after(newFamilyLink);
    i++;
  });

  // Remove Family Link
  $('.remove-family-link').click(function(event){
    event.preventDefault();

    var removeButton = $('.remove-family-link').last();
    var familyLinks = $('.family-link').length;
    var lastFamilyLink = $('.family-link').last();

    if (familyLinks == 2) {
      removeButton.addClass('hidden');
      lastFamilyLink.val('');
      lastFamilyLink.addClass('hidden');
    } else {
      lastFamilyLink.remove();
    }
  });
</script>